<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.doraemonqwq.dora.dao.mapper.AnimeMapper">
    <resultMap id="anime" type="Anime">
        <result column="anime_id" property="id"/>
    </resultMap>
    
    
    <select id="selectAnimes" resultMap="anime">
        select * from animes
    </select>

    <select id="selectAnimesByYears" resultMap="anime">
        select * from animes where years = #{years}
    </select>

    <select id="selectAnimesByFuzzyText" resultMap="anime">
        select * from animes where name like concat(concat('%', #{text}),'%');
    </select>

    <select id="selectAnimeById" resultMap="anime">
        select * from animes where anime_id = #{id}
    </select>

    <insert id="addAnime" parameterType="Anime">
        insert into
            animes(name,quanity,region,introduction,end,years)
            value (#{name},#{quanity},#{region},#{introduction},#{end},#{years})
    </insert>

    <update id="updateAnime" parameterType="map">
        update animes
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="quanity != null">
                quanity = #{quanity},
            </if>
            <if test="region != null">
                region = #{region},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="end != null">
                end = #{end},
            </if>
            <if test="years != null">
                years = #{years},
            </if>
        where anime_id = #{id}
        </trim>
    </update>

    <delete id="delAnime" parameterType="int">
        delete from animes where anime_id = #{id}
    </delete>
    
</mapper>